	<div id="slidedeck_frame" class="skin-slidedeck" style="margin-left:5px;margin-top:30px;">
		<dl class="slidedeck">
			<dt>What is 8Bit Scraps?</dt>
			<dd>
				<img src="/images/graham-large.jpg" style="float:left;margin-left:-30px;height:288px;">
				<p>8 bit scraps has been created by Graham Hadgraft a web developer from Ipswich. Graham Hadgraft has 10 Years programming experience in various languages.</p>

<p>The aim of 8 bit scraps is to provide programming tips for Ruby on Rails, PHP, Perl and any other programming info that people may find useful. As well as reviews of programming resources such as books, software and websites.</p>			
			</dd>
			<dt>New Project: Hostee</dt>
			<dd style="background-color:#ECECEC">
				<div style="background-color:#ECECEC;height:297px;margin-top:-10px;margin-left:-20px;width:789px;">
					<br><br><img src="/images/hostee-banner.png" style="margin-left:45px;">
				</div>
			</dd>
			<dt><%= truncate(@posts.first.post_title, 30, "...") %></dt>
			<dd class="blog-slide" style="overflow:hidden;">
				<img src="<%= @posts.first.thumbnail %>" class="slidedeck-image" style="height:288px;margin-left:-100px;float:left;">
				<div class="slidedeck-image-overlay" style="float:left; width:300px;;height:288px;margin-left:-300px;"></div>
				
					<h2 style=""><%= @posts.first.post_title %></h2>
					<p>
					<%= @posts.first.post_excerpt %><br><br>
					<a href="<%= @posts.first.guid %>">Read the full article</a></p>
				 
			</dd>
			<!--<dt>Latest Tweet</dt>
			<dd>Slide content</dd>-->
		</dl>
</div>
<script type="text/javascript">
	$('.slidedeck').slidedeck();
</script>

<div class="latest blog">
	<h2>Blog</h2>
	
	<% @posts.each do |post| %>
	<ul>
		<li>
			<div class="thumb-image">
				<% if post.thumbnail %>
					<img src="<%= post.thumbnail %>" height="35" width="35">  
				<% else %>
					
				<% end %>
			</div>
		<a href="<% if post.permalink %><%= "/blog/#{post.permalink}" %><% else %><%= post.guid %><% end %>"><%= post.post_title %></a></li>
	</ul>
	<% end %>
</div>

<div id=latest_commits class="latest github">
	<h2>Github</h2>
	
	Loading latest commits...
		

</div>

<div id=latest_tweets class="latest twitter">
	<h2>Twitter</h2>
	
	Loading latest Tweets...
	
</div>

<script type="text/javascript">
	$.ajax({
  		url: '/home/latest_commits',
  		success: function( data ) {
    		document.getElementById('latest_commits').innerHTML = data;
  		}
	});
	$.ajax({
  		url: '/home/latest_tweets',
  		success: function( data ) {
    		document.getElementById('latest_tweets').innerHTML = data;
  		}
	});
</script>