<div class="project-container">
	
	<div class="project">
		<div class="thumb">
			<%= image_tag "hostee.png", :size => "420x120", :style => "margin-top:15px;margin-left:15px;" %>
		</div>
		<div class="details">
			<h2>Hostee</h2>
			<p>Hostee is a tool being created to manage domain and hosting packages and more importantly the billing cycles that are involved in hosting projects for clients. </p>
			<p><%= link_to 'Find Out More >>' %></p>
			
		</div>
	</div>
	
	<div class="project">
		<div class="thumb" style="background-image:url(/images/ban.png);">
			</div>
		<div class="details">
			<h2>Bid Again Now</h2>
			<p>Bid Again Now is web application created to provide a new way of running silent auctions at charity events.  Using modern technology to allow the auction to run in the background all the way through the event. </p>
			<p><%= link_to 'Find Out More >>' %></p>
			
		</div>
	</div>
	
	<div class="project">
		<div class="thumb">
			<%= image_tag "nme-radio", :size => "120x120", :style => "margin-top:15px;margin-left:15px;" %>
		</div>
		<div class="details">
			<h2>NME Radio</h2>
			<p>Using Adobe Air I created a standalone NME Radio player so that it runs independently of any browsers that I may be using, bundled with the package is a ruby script I for sending Growl notifications on track changes. </p>
			<p><%= link_to 'Find Out More >>' %></p>
			
		</div>
	</div>

</div>
