<html>
<head>
	<title>8 Bit Scraps</title>
	<%= stylesheet_link_tag "style" %>
	
	<!-- Include jQuery first. -->
	<script type="text/javascript" src="/javascripts/jquery-1.3.2.min.js"></script>
	
    <!-- Include the below script, Copyright 2010, Brandon Aaron (http://brandonaaron.net/) for scrollwheel support. -->
    <script type="text/javascript" src="/javascripts/jquery-mousewheel/jquery.mousewheel.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/stylesheets/slidedeck.skin.css" media="screen" />
    <!-- Styles for the skin that only load for Internet Explorer -->
    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="/stylesheets/slidedeck.skin.ie.css" media="screen,handheld" />
    <![endif]-->
	
    <!-- Include the SlideDeck jQuery script. -->
	<script type="text/javascript" src="/javascripts/slidedeck.jquery.lite.pack.js"></script>
    
    <style type="text/css">
        #slidedeck_frame {
            width: 901px;
            height: 300px;
        }        
    </style>
    	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3247801-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
	<div id="banner">
		

		<div id="navigation">
			<ul>
				<li><%= link_to 'Home', :controller => 'home' %></li>
				<li><%= link_to 'Projects', :controller => 'project' %></li>
				<li><%= link_to 'Blog', :controller => 'blog' %></li>
				<li><%= link_to 'Contact', :controller => 'contact' %></li>
			</ul>
		</div>
		<div id="social">
			<ul>
				<li><a href="http://feeds.feedburner.com/8bit/scraps" target="_blank"><%= image_tag("rss.png", :size => '27x27') %></a></li>
				<li><a href="http://twitter.com/#!/8bitscraps" target="_blank"><%= image_tag("twitter.png", :size => '40x40', :style => 'margin-top:-5px;') %></a></li>
				
				<li><a href="https://github.com/bitscraps" target="_blank"><%= image_tag("github_logo.png", :size => '30x30')%></a></li>
						
			</ul>
		</div>
  	</div>

	<div id="header"><%= image_tag "8bitscraps.png" %></div>
	
	<hr>
	
	<div id="content-container">
	<%= yield %>
	</div>
	<div style="clear:both;"></div>
	
	<div id="footer">
		<div id="footer-content">
			<div id="left-column">
				<p>
					<img src="/images/graham.jpg" style="float:left;margin-right:20px;"/>
					8 bit scraps has been created by Graham Hadgraft a web developer from Ipswich. Graham Hadgraft has 10 Years programming experience in various languages.</p>

				<p>The aim of 8 bit scraps is to provide programming tips for Ruby on Rails, PHP, Perl and any other programming info that people may find useful. As well as reviews of programming resources such as books, software and websites.</p>
			</div>
			<div id="right-column">
				<h3>Why not follow 8-Bit Scraps with</h3>
				<ul>
					<li><a href="http://feeds.feedburner.com/8bit/scraps" target="_blank">RSS</a></li>
					<li><a href="http://twitter.com/#!/8bitscraps" target="_blank">Twitter</a></li>
				
					<li><a href="https://github.com/bitscraps" target="_blank">Github</a></li>
					<li><a href="https://www.8bitscraps.co.uk/blog" target="_blank">Wordpress Blog</a></li>
							
				</ul>
			</div>
		</div>
		<div id="copyright"><center><p style="align:center">&copy; 2011  Graham Hadgraft</p></center>
	</div>

</body>
</html>